.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1064px;
  margin: 0 auto;
  padding: 1.5rem 1.25rem;
}

.nav a {
  color: #8257e5;
}

.content {
  max-width: 776px;
  margin: 0 auto;
  padding: 1.5rem 1.25rem;
}

.content h1 {
  margin-bottom: 1.25rem;
}

.content p {
  margin: 1.25rem 0;
}
