.header,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1064px;
  margin: 0 auto;
  padding: 1.5rem 1.25rem;
}

.nav a {
  color: #8257e5;
}

.content {
  max-width: 776px;
  margin: 0 auto;
  padding: 1.5rem 1.25rem;
}

.content h1 {
  margin-bottom: 1.25rem;
}

.content p {
  margin: 1.25rem 0;
}

.footer button {
  background: transparent;
  border: 0;
  color: #9970f7;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 7.5rem;
  border-radius: 5px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.05);
  color: #333;
  border: 0;
}

.modalOverlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
}
